body {
	background-color: #e3eaa7
}

/* HEADER */

/* navigation bar */

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-image: linear-gradient(to bottom right, #86af49, #b5e7a0);
  padding: 5px 0;
}

#nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
}

#nav li {
	width: 150px;
	background-color: #8caf57;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 3px;
}

#nav .active {
	background-color: #a7e54b;
}

#nav .fa-home {
	line-height: inherit;
}

#nav li a {
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	width: 100%
}

#nav li a:hover {
	color: #4e632e
}

#logo {
	width: 35px;
	height: 35px;
	margin: 0 20px;
}

/* titel en header image */

#title {
	background-color: #79b71c;
	height: 100px;
	text-align: center;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title h1 {
	margin: 0;
}

#home-image img {
	width: 100%;
}

/* content */

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

p, h1, h2, h3, a, #content li {
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

#page-list a {
	color: black;
}

/* footer */

#footer {
	width: 100%;
	background-color: #b2d047;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}
